<div *ngIf="true" class="relative bg-white rounded-lg">
    <label *ngIf="label" [for]="label" class="absolute bg-white text-gray-900 duration-300 floating-label origin-[0] px-2 pointer-events-none text-sm top-[16px] transform transition-all max-w-[98%] truncate" [ngClass]="{
        '-translate-y-5 scale-75 text-[rgba(0,0,0,0.6)] left-1': (value || value==false), 
        'left-[4px]': (!value && value!=false)
    }">
      {{ label }}
      <span *ngIf="is_required" class="col-span-2 text-red-600">*</span>
    </label>
  
    <div *ngIf="display_value" [title]="display_value" class="flex items-center gap-2 p-2 border border-gray-300 rounded-lg h-14">
      <span class="px-3 py-1 capitalize truncate border border-gray-300 rounded-lg min-w-12 max-w-52">
        {{ display_value }}
        <button type="button" (click)="clearSelection()" class="bg-[#EBEBEB] rounded-full border z-[6] text-2xl text-[#666666] flex justify-center items-center absolute h-[30px] w-[30px] right-3 top-[15px]">
        &times;
        </button>
      </span>
    </div>
  
    <select *ngIf="!display_value" [disabled]="disabled || paramValue == 'true'" [(ngModel)]="value" (change)="handleSelectionChange($event)" class="capitalize focus:border-blue-600 appearance-none top-0 left-0 w-full bg-white border border-gray-300 outline-none px-4 h-14 text-[14px] rounded-lg font-normal">
      <option value=""></option>
      <option *ngFor="let item of options" [value]="item.value || item.title || item" class="capitalize truncate">{{ item.title || item }}</option>
    </select>
  
    <i class='absolute bx bx-chevron-down pointer-events-none right-2 text-2xl text-gray-400 top-[13px] z-[5]'></i>
  </div>
  
  
  <div *ngIf="true && control && control.errors &&(control.dirty || control.touched)" class="error-messages">
    <p class="text-red-500" *ngIf="control.errors['required']">{{ label }} is required.</p>
    <p class="text-red-500" *ngIf="control.errors['minlength']">Minimum length required is {{
      control.errors['minlength'].requiredLength }}.
    </p>
    <p class="text-red-500" *ngIf="control.errors['maxlength']">Maximum length allowed is {{
      control.errors['maxlength'].requiredLength }}.
    </p>
  </div>